
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body{
    background-color:#FFFBE9;
}

/* HEADER */
#top-header{ 
    background-color:#F5F0E8;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.linkport{
    margin-left: 1rem;
}

#brand{
    width:10rem;
    align-items: center;
}

.buttonport{
    margin-right: 1rem;
}

.buttonport ul li button{
    padding-right: 2rem;
    font-size:20px;
    color: #3D322C;
}

/* CATEGORIES */
#category{
    background-color: #AD8B73;
    font-weight: bold;
}

/* PROMOBANNER */
#promo-banner{
    background-color:#E3CAA5;
}

#promo-banner span{
    font-weight: bold;
}

/* CATALOG */

#home-catalog .carousel-inner img{
    object-fit:cover;
    width: 100%;
}

#home-catalog .carousel-inner a{
    margin-bottom: 1rem;
}


/* BESTSELLER SECTION*/
#bestseller{
    background-color:white;
    padding: 5%;
}

#bestseller .best-copy{
    padding-bottom: 5rem;
}

#bestseller .best-head{
    font-size:36px;
    font-weight: bold;
}

#bestseller .best-products{
    padding:0 3rem;
}

/* FOR HIM SECTION */

#for-him{
    background-color:#8E806A;
    padding: 5%;
}

#forhim-content{
    padding-top: 25%;
}

#forhim-content h5{
    color:white;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 10px;
}

#forhim-content p{
    color:white;
}

#for-him .him-feature{
    margin-left: 30px;
    margin-top: 90px;
}

#feature-banner img{
    object-fit:cover;
    width: 100%;
}

/* FOR HER SECTION */
#for-her{
    background-color: #E3CAA5;
    padding: 5%;
}

#forher-content{
    padding-top: 25%;
}

#forher-content h5{
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 10px;
}

#for-her .her-feature{
    margin-left: 30px;
    margin-top: 90px;
}

/* REVIEW SECTION */
#review{
    background-color:white;
    padding: 7%;
}

#review h5{
    margin-bottom: 2rem;
    font-size:36px;
    font-weight: bold;
}

#review .col{
    padding: 1rem;
}
#review h6{
    font-size: 25px;
}

#review p{
    font-size: 20px;
    font-weight:bold;
    margin-top: 5%;
}

#review img{
    width: 100px;
    margin-left:35%;
}

#review .rimg2{
    margin-top:7%;
}

/* FOOTER */
#footer{
    background-color: #C3B091;
    padding:3%;
}

#footer .newletter{
    padding-left: 15%;
}

#footer .newletter input{
    width:400px;
}

#footer .newletter button{
    width:400px;
}

#footer .newletter p{
    width:400px;
}

#fbrand{
    width:10rem;
}

#footer h3{
    font-size: 20px;
    font-weight: bold;
}

#footer form{
    margin-top:20px;
    margin-bottom: 12px;
}

#footer form input{
    margin-bottom:10px;
}
#footer p{
    font-size:12px;
    margin-top: 12px;
    font-style:italic;
}

#footer .aboutlinks li{
    padding: 5px;
}

#footer .aboutlinks li:hover{
    color:white;
}

#footer .sociallinks{
    font-size: 30px;
    color: #3D322C;
}

#footer .sociallinks #ig{
    margin-left:30px;
}

#footer .sociallinks #tw{
    margin-left:30px;
}

#footer .sociallinks li a:hover{
    color: white;
}

#footer div .policies li a:hover{
    color:white;
}

/* COPYRIGHT */

#copyright{
    background-color: #AD8B73;
    padding-top: 16px;
}

/* SHOP PAGE */
#shop-banner img{
    width:100vw;
}

#product-nav{
    background-color:#AD8B73;
    height:80px;
}

#product-navnew{
    background-color:#AD8B73;
    height:60px;
    padding-left:2rem;
}

#product-nav .nav-item{
    padding-left:2rem;
}

.items{
    background-color:#F5F0E8;
    padding: 0 10% 5%;
}

.items .col{
    padding: 2rem;
}

.ppp{
    background-color:#F5F0E8;
    height: 100px;
}
.pagination{
    padding-bottom: 4rem;
}

/* ACCOUNT PAGE */
#login{
    padding: 5%;
}

#login h5{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 2rem;
}

/* TERMS AND CONDITIONS PAGE */

#termsp{
    padding: 5% 15%;
}

#termsp h6{
    font-weight: bold;
    text-decoration:underline;
    padding: 1rem 1rem 1rem 0;
}

/* ABOUT PAGE */
#contact{
    background-color:#8E806A;
    height:600px;
}

.feature-banner img{
    width:100vw;
}

#about-context .henry img{
    padding:15%;
}

#about-context .meet-henry {
    padding:15%;
}

#about-context .meet-henry h5{
    font-size: 30px;
    padding-bottom: 10px;
}

#about-feature .arome-context{
    padding: 15%;
}

#about-feature .arome-context h5{
    font-size: 30px;
    padding-bottom: 10px;
}

#about-feature .arome img{
    padding: 15%;
}

#contact{
    padding: 5% 15%;
}

#contact .row{
    color:white;
}

#contact .para{
    padding-top:5%;
}
#contact h5{
    font-size: 30px;
    font-weight:bold;
    padding-bottom: 10px;
}

#contact form input{
    margin:10px;
}

#contact form button{
    margin:10px;
}

@media (max-width: 900px){
    #bestseller .best-copy{
        padding-bottom: 3rem;
    }

    #forhim-content{
        padding-top:5%;
        padding-bottom: 10%;
    }

    #for-him .him-feature{
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #forher-content{
        padding-top:5%;
        padding-bottom: 10%;
    }

    #for-her .her-feature{
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #footer .newletter{
        padding-top: 5%;
        padding-left: 15%;
    }

    #footer #newinput{
        width:500px;
    }
    
    #footer #newbtn{
        width:500px;
    }

    #fbrand{
        width:10rem;
        margin-left:7rem;
    }

    #footer #fflinks{
        margin-left:1rem;
        padding: 3rem;
    }

    #footer .aboutlinks li:hover{
        color:white;
    }

   #footer .sociallinks a{
        display: inline-block;
        position:absolute;
   }

   #footer .sociallinks #ig{
        margin-left:60px;
   }

   #footer .sociallinks #tw{
    margin-left:120px;
   }

   #footer .sociallinks li a:hover{
    color: white;
    }

    #footer div .policies li a:hover{
    color:white;
    }


}