
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body{
    background-color:#FFFBE9;
}

/* HEADER */
#top-header{ 
    background-color:#F5F0E8;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.linkport{
    margin-left: 1rem;
}

#brand{
    width:10rem;
    align-items: center;
}

.buttonport{
    margin-right: 1rem;
}

.buttonport ul li button{
    padding-right: 2rem;
    font-size:20px;
    color: #3D322C;
}

/* CATEGORIES */
#category{
    background-color: #AD8B73;
    font-weight: bold;
}

/* PROMOBANNER */
#promo-banner{
    background-color:#E3CAA5;
}

#promo-banner span{
    font-weight: bold;
}

/* CATALOG */

#home-catalog .carousel-inner img{
    object-fit:cover;
    width: 100%;
}

#home-catalog .carousel-inner a{
    margin-bottom: 1rem;
}


/* BESTSELLER SECTION*/
#bestseller{
    background-color:white;
    padding: 5%;
}

#bestseller .best-copy{
    padding-bottom: 5rem;
}

#bestseller .best-head{
    font-size:36px;
    font-weight: bold;
}

#bestseller .best-products{
    padding:0 3rem;
}

/* FOR HIM SECTION */

#for-him{
    background-color:#8E806A;
    padding: 5%;
}

#forhim-content{
    padding-top: 25%;
}

#forhim-content h5{
    font-weight: bold;
    font-size: 25px;
    color:white;
}

#forhim-content p{
    color:white;
}

#for-him .him-feature{
    margin-left: 30px;
    margin-top: 90px;
}

#feature-banner img{
    object-fit:cover;
    width: 100%;
}

/* FOR HER SECTION */
#for-her{
    background-color: #E3CAA5;
    padding: 5%;
}

#forher-content{
    padding-top: 25%;
}

#forher-content h5{
    font-weight: bold;
    font-size: 25px;
}

#for-her .her-feature{
    margin-left: 30px;
    margin-top: 90px;
}

/* FEATURE BANNER */
#feature-banner video{
    width: 100vw;
}

/* REVIEW SECTION */
#review{
    background-color:white;
    padding: 7%;
}

#review h5{
    margin-bottom: 2rem;
    font-size:36px;
    font-weight: bold;
}

#review .col{
    padding: 1rem;
}
#review h6{
    font-size: 25px;
}

#review p{
    font-size: 20px;
    font-weight:bold;
    margin-top: 5%;
}

#review img{
    width: 100px;
    margin-left:35%;
}

#review .rimg2{
    margin-top:7%;
}

/* FOOTER */
#footer{
    background-color: #C3B091;
    padding:2rem;
}

#footer h3{
    font-size: 20px;
    font-weight: bold;
}

#footer form{
    margin-top:20px;
    margin-bottom: 12px;
}

#footer form input{
    margin-bottom:10px;
}
#footer p{
    font-size:12px;
    margin-top: 12px;
    font-style:italic;
}

#footer .aboutlinks li{
    padding: 5px;
}

#footer div .sociallinks ul li a{
    padding-left:1rem;
    font-size: 30px;
    color: #3D322C;
}

/* COPYRIGHT */

#copyright{
    background-color: #AD8B73;
    padding-top: 16px;
}

/* SHOP PAGE */
#product-nav{
    background-color:#AD8B73;
    height:80px;
    padding: 0;
}

.items{
    background-color:#F5F0E8;
    padding: 0 10% 5%;
}

.items .col{
    padding: 2rem;
}

.ppp{
    background-color:#F5F0E8;
}
.pagination{
    padding-bottom: 4rem;
}

/* ACCOUNT PAGE */
#login{
    padding: 5%;
}

#login h5{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 2rem;
}

/* TERMS AND CONDITIONS PAGE */

#termsp{
    padding: 5% 15%;
}

#termsp h6{
    font-weight: bold;
    text-decoration:underline;
    padding: 1rem 1rem 1rem 0;
}

/* FAQs PAGE */
